# Arquivo: .github/workflows/deploy.yml

name: Deploy Databricks Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      # Baixar o c칩digo do seu reposit칩rio
      - name: Checkout repo
        uses: actions/checkout@v4

      # Instalar a CLI do Databricks
      - name: Setup Databricks CLI
        uses: databricks/setup-cli@v0.222.0

      # Fazer o deploy com o Databricks Bundle (usando vari치veis de ambiente)
      - name: Deploy to Databricks
        run: databricks bundle deploy
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          
          # Segredos para as vari치veis do bundle, com o prefixo BUNDLE_VAR_
          BUNDLE_VAR_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          BUNDLE_VAR_client_secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          BUNDLE_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          BUNDLE_VAR_eh_connection_string: ${{ secrets.EH_CONNECTION_STRING }}